:global(.el-menu){
  background-color: #1D2F55;
}
:global(.left){
  background-color: #12203D;
  /* background-image: url(../../static/assets/bg.jpg); */
  position: fixed;
  top: 120px;
  bottom: 0;
  width: 20%;
  /* overflow-y: auto; */
}
:global(.left:hover){
  overflow-y: auto;
}
:global(.titleMenu){
  width: 80%;
  position: fixed;
  left: 20%;
  top: 60px;
  height: 60px;
  background: #fff;
  border-right: 0;
  box-sizing: border-box;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  z-index: 200;
}
/* :global(.el-menu--horizontal){
  border-bottom: transparent;
} */
:global(.el-menu--horizontal>.el-menu-item:not(.is-disabled):hover){
  background-color: #eaeef5;
  color: #409EFF;
}
:global(.el-menu--horizontal>.el-menu-item:not(.is-disabled):focus){
  background-color: transparent;
  color: #409EFF;
}
:global(.el-menu--horizontal>.el-menu-item.is-active){
  font-weight: 700;
  color: #409EFF;
}
:global(.el-submenu__title:hover) {
  background-color: transparent;
}
:global(.el-menu-item:focus){
  background-color: transparent;
}
:global(.el-menu-item:hover){
  background-color: transparent;
  color: #409EFF;
}
/* 餐台设置，表格css */
:global(.el-table .cell a){
  padding: 1px 10px;
  border-radius: 5px;
}
:global(.el-table .cell a:hover){
  background-color: #dcdfe6;
  cursor: pointer;
}
/* 餐台设置，按钮css */
:global(.el-button--info.is-plain){
  padding: 5px 15px;
}
/* el-input 的css */
/* :global(.el-input__inner){
  width: 15%;
} */
:global(.canTaiTable td){
  padding:0;
}
:global(.canTaiTable th){
  padding:5px auto;
}
:global(.canTaiTable  .el-table__body-wrapper){
  max-height: 535px;
  overflow-y: auto;
}
:global(.shouFeiTable  .el-table__fixed-body-wrapper){
  max-height: 535px;
  overflow-y: auto;
}
:global(.shouFeiTable  .el-table__body-wrapper){
  max-height: 535px;
  overflow-y: auto;
}
:global(.FWYtable  .el-table__fixed-body-wrapper){
  max-height: 535px;
  overflow-y: auto;
}
:global(.FWYtable  .el-table__body-wrapper){
  max-height: 535px;
  overflow-y: auto;
}
/*****ctyd路由样式******/
:global(.inputCtyd input){
  height: 38px;
  line-height: 38px;
  width: 205px;
}
:global(.pdTable  .el-table__body-wrapper){
  max-height: 540px;
  overflow-y: auto;
}
:global(.kcTable  .el-table__body-wrapper){
  max-height: 415px;
  overflow-y: auto;
}
/***登录弹框样式****/
:global(.loginDiv .el-dialog){
  width: 750px;
  height: 500px;
  margin: 0 auto;
  margin-top: 15vh;
  background: url('../../static/assets/login.jpg') center center no-repeat;
  background-size: 100% 100%;
}
:global(.loginDiv .el-form-item__label){
  text-align: center;
}
:global(.loginDiv form){
  background: rgba(255,255,255,1);
  height: 237px;
  margin: 0 auto;
  margin-top: 58px;
  padding-top: 20px;
  border-radius: 10px;

}
:global(.loginInput){
  width: 225px;
}
:global(.loginInput input){
  height: 38px;
  line-height: 38px;
  width: 225px;
  padding-right:30px;
}
:global(.loginButton){
  margin-left: 40px;
  height: 38px;
}
/* 套餐设置 表格 css */
:global(.TCTable){
  float: left;
  width: 39%;
  max-height: 90%;
  border-radius: 5px;
  margin-left: 5px;
  border: 1px solid #aaa;
}
:global(.XMTable){
  float: right;
  width: 59%;
  max-height: 90%;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid #aaa;
}
/* 套餐设置 按钮 css */
:global(.TCbtn){
  margin: 5px 10px;
}
/***********表格样式全局*************/
:global(.el-table__fixed){
  box-shadow: none;
}
:global(.el-table__fixed-right){
  box-shadow: none;
}
/**************点餐标签页*********/
:global(.dcTitle>.el-tabs__header){
  background: #12203D;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  margin-bottom: 0;
  padding-left: 10px;
}
:global(.dcTitle .el-tabs__item){
  height: 30px;
  line-height: 30px;
}
:global(.dcTitle .el-tabs__nav){
  height: 30px;
  line-height: 30px;
  position: relative;
  bottom: 2px;
}
:global(.dcTable>.el-tabs__header .el-tabs__item){
  border-left: 0;
}
:global(.dcTable>.el-tabs__header .el-tabs__nav){
  border: 0;
}
:global(.dcTable>.el-tabs__header){
  border-bottom: 0;
}
:global(.dcTitle>.el-tabs__header .el-tabs__item){
  color: #fff;
}
:global(.dcTitle>.el-tabs__header .el-tabs__item.is-active){
  color: #fff;
}
:global(.dcTitle .el-tabs__nav-wrap::after){
  display: none;
}
:global(.dcTitle>.el-tabs__content){
  margin: 5px;
  margin-top: 0;
  border: 1px solid #aaa;
  border-top: 0;
  height: calc(100% - 36px);
}
:global(.dcTitle){
  height:calc(100% - 5px);
}
:global(.dcTable){
  margin-top: 20px;
  width: 65%;
  float: left;
}
:global(.el-tabs__nav-next){
  line-height: 30px;
}
:global(.el-tabs__nav-prev){
  line-height: 30px;
}
:global(.dcTable2){
  margin-top: 10px;
}
:global(.dcTable2  td){
  padding: 5px 0;
  font-size: 14px;
}
:global(.dcTable2  th){
  padding: 5px 0;
  font-size: 14px;
}
/* 消费清单 按钮 css */
:global(.xfBtn){
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
/*点餐加减样式*/
:global(.dcRight){
  width: 20px;
  height: 20px;
  color: #333;
  background-color: hsla(0,0%,100%,0.7);
  border: 1.5px solid #dfe0e4;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
:global(.dcLeft){
  width: 20px;
  height: 20px;
  color: #333;
  background-color: hsla(0,0%,100%,0.7);
  border: 1.5px solid #dfe0e4;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
:global(.table){
  width: 90%;
  margin: 10px auto;
}
/* 分页样式 */
:global(.page){
  text-align: center;
}
:global(.page p){
  font-size: 14px;
}
/* 表格样式 */
:global(.el-table th) {
  background-color: #f5f7fa;
  padding: 8px 0;
}
:global(.el-table td) {
  padding: 8px 0;
}
:global(.el-table .el-table__header-wrapper tr) {
  background-color: #f5f7fa !important;
  color: #000;
}
:global(.el-table th .cell) {
  font-size: 13px;
  word-break: normal;
}
:global(.el-table td .cell) {
  font-size: 12px;
}
:global(.el-table tr:nth-of-type(even)){
  background: #fafafa;
}
/* 商品入库选择框样式 */
:global(.rkSelect){
  width: 100px;
  height: 26px;
  line-height: 26px;
  margin-left: 40px;
}
:global(.rkSelect input){
  width: 100px;
  height: 26px;
}
:global(.rkSelect .el-input span){
  position: absolute;
  top: -3px;
  right: 1px;
}
/* 填写管理员密码 */
:global(.guanLi .el-dialog__body){
  padding-top: 0px;
}
:global(.guanLi .el-dialog__body span){
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
/* 修改密码 */
:global(.setPassword .el-dialog){
  width: 500px;
  border: 5px solid #12203D;
  border-radius: 13px;
}
:global(.setPassword form){
  width: 334px;
  margin: 0 auto;
}
:global(.setPassword .el-form-item__label){
  color:rgb(255, 208, 75);
}
/* 收费项目销售分析 */
:global(.dateFirst){
  height: 26px;
  line-height: 26px;
  position: relative;
  top: 7px;
  margin-right: 40px;
}
:global(.dateFirst i){
  position: relative;
  bottom: 5px;
}
:global(.dateFirst .el-icon-date:before){
  position: relative;
  bottom: 1px;
}
:global(.dateFirst .el-range-separator){
  line-height: 18px;
}
:global(.timeData){
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 6px;
  margin-left: 50px;
}
:global(.timeData span){
  float: left;
  width: 74px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 14px;
}
:global(.timeData span:first-child){
  border-right: 0;
}
:global(.sfTable  .el-table__body-wrapper){
  max-height: 240px;
  overflow-y: auto;
}
