:global(.el-menu){
  background-color: #1D2F55;
}
:global(.left){
  background-color: #12203D;
  /* background-image: url(../../static/assets/bg.jpg); */
  position: fixed;
  top: 120px;
  bottom: 0;
  width: 20%;
  /* overflow-y: auto; */
}
:global(.left:hover){
  overflow-y: auto;
}
:global(.titleMenu){
  width: 80%;
  position: fixed;
  left: 20%;
  top: 60px;
  height: 60px;
  background: #fff;
  border-right: 0;
  box-sizing: border-box;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  z-index: 200;
}
/* :global(.el-menu--horizontal){
  border-bottom: transparent;
} */
:global(.el-menu--horizontal>.el-menu-item:not(.is-disabled):hover){
  background-color: #eaeef5;
  color: #409EFF;
}
:global(.el-menu--horizontal>.el-menu-item:not(.is-disabled):focus){
  background-color: transparent;
  color: #409EFF;
}
:global(.el-menu--horizontal>.el-menu-item.is-active){
  font-weight: 700;
  color: #409EFF;
}
:global(.el-submenu__title:hover) {
  background-color: transparent;
}
:global(.el-menu-item:focus){
  background-color: transparent;
}
:global(.el-menu-item:hover){
  background-color: transparent;
  color: #409EFF;
}
/* 餐台设置，表格css */
:global(.el-table .cell a){
  padding: 1px 10px;
  border-radius: 5px;
}
:global(.el-table .cell a:hover){
  background-color: #dcdfe6;
  cursor: pointer;
}
/* 餐台设置，按钮css */
:global(.el-button--info.is-plain){
  padding: 5px 15px;
}
/* el-input 的css */
/* :global(.el-input__inner){
  width: 15%;
} */
:global(.canTaiTable td){
  padding:0;
}
/*****ctyd路由样式******/
:global(.inputCtyd input){
  height: 38px;
  line-height: 38px;
  width: 205px;
}
/***登录弹框样式****/
:global(.loginDiv){
  width: 1600px;
}
:global(.loginInput){
  width: 400px;
}
:global(.loginInput input){
  height: 38px;
  line-height: 38px;
  width: 400px;
  padding-right:30px;
}
:global(.loginButton){
  margin-left: 158px;
}