/* 内容显示面板的标题/内容/span/el-input的公用css */
.title {
  /* 标题css */
  background: #12203D;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  margin-bottom: 0;
}

.content {
  /* 内容css */
  background: #fff;
  height: calc(100% - 50px);
  margin: 0 5px;
  /* border-radius: 5px; */
  color: #333;
  border: 1px solid #aaa;
  border-top: 0;
  padding-top: 10px;
}


.inputView{
  width: auto;
}

.inputView input{
  width: 100px;
  height: 26px;
  color: #333;
  margin-left: 20px;
}

.txtView {
  /* 文本框span css */
  margin-left: 20px;
}
/* 餐台设置 css */
/* 新增餐台 el-input  span css */
.addinput {
  width: auto;
}
.addinput input{
  width: 200px;
  height: 40px;
  color: #333;
  margin-left: 20px;
}
.addspan{
  margin-left: 20px;
  font-size: 16px;
}
